.Controller {
    display: block;
    float: left;
    max-height: 100vh;
    min-height: 100vh;
    text-align: left;
    background-color: #0e1111;
}

.Controller textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: #0e1111;
    padding: 1rem;
    overflow-y: scroll;
    height: 97vh;
    width: 27vw;
    color: aliceblue;
    outline: 0;
    resize: none;
}