.Hub {
    display: block;
    float: right;
    width: 70vw;
    max-height: 100vh;
    min-height: 100vh;
    text-align: left;
    overflow-y: scroll;
    background-color: #141818;
}

.Hub p {
    font-size: 3rem;
    font-weight: bold;
    font-family: futura, sans-serif;
    color: white;
    margin: 1rem;
}

.Hub #word {
    cursor: pointer;
}

.Hub #word #tooltip {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    visibility: hidden;
    position: fixed;
    text-align: center;
    top: 20px;
    right: 50px;
    height: 10px;
    z-index: 1;
    font-size: 3rem;
}

.Hub #word:hover #tooltip {
    visibility: visible;
}